# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Aizistral
.apt_generated
logs
omniconfig_first
*works
Users
.factorypath
deps/Soulbound*
docs/copybruh.txt
multiuser_args.txt
old_enigmatic_desc.txt
old_changelog.txt

*.bat
!gradlew.bat
!updateResources.bat
/.apt_generated_tests/

model
/.run
